= simple_form_for(user, url: user_invitation_path, html: {id: 'new_invitation_form', class: 'form-horizontal', method: :post, remote: true}, role: 'form') do |f|
  = f.input :name
  = f.input :email, label: 'Email', required: true 
  .control-group
    .controls
      = f.button :submit, t("devise.invitations.new.submit_button"), class: 'btn btn-primary'
      %a.btn{"data-dismiss" => :modal} Cancel

